## <font color='brown'> IPL Probability Prediction</font>

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
match_df = pd.read_csv('C:/Users/lenono/Desktop/Data Science/Python/IPL Probability Prediction/matches.csv')
delivery_df = pd.read_csv('C:/Users/lenono/Desktop/Data Science/Python/IPL Probability Prediction/deliveries.csv')

In [4]:
match_df.head(3)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [5]:
delivery_df.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [6]:
match_df.shape

(756, 18)

In [7]:
delivery_df.shape

(179078, 21)

In [8]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [9]:
match_df.drop(['toss_winner', 'toss_decision', 'player_of_match', 'umpire1', 'umpire2','umpire3'],axis=1,inplace = True)

In [10]:
match_df.head(3)

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium

In [11]:
match_df.shape

(756, 12)

In [12]:
delivery_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [13]:
delivery_df.drop(['bowler', 'is_super_over', 'wide_runs','bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs','dismissal_kind', 'fielder'],axis=1,inplace=True)

In [14]:
delivery_df.shape

(179078, 12)

In [15]:
delivery_df.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN

- Batsman_run --> Runs made by Bats man
- Total_run --> Runs Scored

In [17]:
total_score_df = (delivery_df.groupby(['match_id','inning','batting_team']).sum()['total_runs'].reset_index())

In [18]:
total_score_df

      match_id  inning                 batting_team  total_runs
0            1       1          Sunrisers Hyderabad         207
1            1       2  Royal Challengers Bangalore         172
2            2       1               Mumbai Indians         184
3            2       2       Rising Pune Supergiant         187
4            3       1                Gujarat Lions         183
...        ...     ...                          ...         ...
1523     11413       2               Delhi Capitals         170
1524     11414       1               Delhi Capitals         155
1525     11414       2          Chennai Super Kings         162
1526     11415       1               Mumbai Indians         152
1527     11415       2          Chennai Super Kings         157

[1528 rows x 4 columns]

In [19]:
total_score_df = total_score_df[total_score_df['inning']==1]

In [20]:
total_score_df

      match_id  inning                 batting_team  total_runs
0            1       1          Sunrisers Hyderabad         207
2            2       1               Mumbai Indians         184
4            3       1                Gujarat Lions         183
6            4       1       Rising Pune Supergiant         163
8            5       1  Royal Challengers Bangalore         157
...        ...     ...                          ...         ...
1518     11347       1        Kolkata Knight Riders         143
1520     11412       1          Chennai Super Kings         136
1522     11413       1          Sunrisers Hyderabad         171
1524     11414       1               Delhi Capitals         155
1526     11415       1               Mumbai Indians         152

[756 rows x 4 columns]

In [21]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium

In [22]:
match_df = (match_df.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id'))

In [23]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157

In [24]:
teams = list(match_df['team1'].unique())

In [25]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

In [26]:
teams =['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [27]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [28]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [29]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [30]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Rajasthan Royals'],
      dtype=object)

In [31]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,normal,0,Kings XI Punjab,0,8,Holkar Cricket Stadium,8,148
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,10,158

In [32]:
match_df.shape

(641, 14)

In [33]:
match_df['dl_applied'].value_counts()

dl_applied
0    626
1     15
Name: count, dtype: int64

In [34]:
match_df = match_df[match_df['dl_applied']==0]

In [35]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,normal,0,Kings XI Punjab,0,8,Holkar Cricket Stadium,8,148
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,10,158

In [36]:
match_df.shape

(626, 14)

In [37]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [38]:
match_df.head()

   match_id       city                       winner  total_runs
0         1  Hyderabad          Sunrisers Hyderabad         207
4         5  Bangalore  Royal Challengers Bangalore         157
6         7     Mumbai               Mumbai Indians         178
7         8     Indore              Kings XI Punjab         148
9        10     Mumbai               Mumbai Indians         158

In [39]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [40]:
delivery_df = delivery_df[delivery_df['inning']==2]

In [41]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN

In [42]:
delivery_df.shape

(86240, 12)

In [43]:
delivery_df = match_df.merge(delivery_df,on='match_id')

In [44]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs_y,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72408,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
72409,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
72410,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
72411,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
72412,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [45]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'player_dismissed'],
      dtype='object')

In [46]:
delivery_df =delivery_df.rename(columns={'total_runs_x':'total_runs',
                           'total_runs_y':'Ball_score'})

In [47]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed'],
      dtype='object')

In [48]:
delivery_df['Score'] = delivery_df[['match_id','Ball_score']].groupby('match_id').cumsum()['Ball_score']

In [49]:
delivery_df['target_left'] = (delivery_df['total_runs']+1) - delivery_df['Score']

In [50]:
delivery_df.head()

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201

In [51]:
delivery_df['Remaining_ball'] = (120 - ((delivery_df['over']-1)*6 + delivery_df['ball']))

In [52]:
delivery_df.head()

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining_ball
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201,115

In [53]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed', 'Score',
       'target_left', 'Remaining_ball'],
      dtype='object')

In [54]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')

In [55]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == '0' else '1').astype('int64')

In [56]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining_ball
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72408,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
72409,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
72410,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2
72411,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
72412,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0

In [57]:
delivery_df['Wickets'] = delivery_df[['match_id','player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values

In [58]:
delivery_df['Wickets'] = 10- delivery_df['Wickets']

In [59]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining_ball,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72408,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
72409,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
72410,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4
72411,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4
72412,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3

- Current Run Rate =

$$Current \ run \ rate =\frac{Runs \ Scores}{Number \ of \ overs \ completed}$$

In [61]:
delivery_df['crr'] = delivery_df['Score']*6/(120 - delivery_df['Remaining_ball'])

In [62]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining_ball,Wickets,crr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10,6.000000
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10,3.000000
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10,2.000000
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10,4.500000
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72408,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5,7.862069
72409,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5,7.897436
72410,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4,7.881356
72411,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4,7.915966
72412,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3,7.850000

- Required Run Rate =

$$Required \ run \ rate =\frac{Remaining \ Scores \ or \ Traget}{Number \ of \ Overs \ left}$$

In [64]:
delivery_df['rrr'] = delivery_df['target_left']*6/(delivery_df['Remaining_ball'])

In [65]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining_ball,Wickets,crr,rrr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,1,207,119,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,1,207,118,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,1,207,117,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,3,205,116,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,7,201,115,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72408,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,152,1,4,5,7.862069,1.500000
72409,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,154,-1,3,5,7.897436,-2.000000
72410,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,155,-2,2,4,7.881356,-6.000000
72411,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,157,-4,1,4,7.915966,-24.000000
72412,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,157,-4,0,3,7.850000,-inf

In [66]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed', 'Score',
       'target_left', 'Remaining_ball', 'Wickets', 'crr', 'rrr'],
      dtype='object')

In [67]:
delivery_df['batting_team'].value_counts()

batting_team
Royal Challengers Bangalore    9684
Kolkata Knight Riders          9658
Mumbai Indians                 9063
Delhi Daredevils               9034
Kings XI Punjab                8701
Rajasthan Royals               8543
Chennai Super Kings            8487
Sunrisers Hyderabad            4445
Deccan Chargers                3633
Delhi Capitals                 1165
Name: count, dtype: int64

In [68]:
delivery_df['winner'].value_counts()

winner
Mumbai Indians                 11681
Chennai Super Kings            10955
Kolkata Knight Riders           9338
Kings XI Punjab                 8390
Rajasthan Royals                8086
Royal Challengers Bangalore     7792
Delhi Daredevils                6363
Sunrisers Hyderabad             5645
Deccan Chargers                 2952
Delhi Capitals                  1184
Name: count, dtype: int64

In [69]:
# creating a column result 1 means - won & 0 means -loss
def result(row):
    if row['batting_team'] == row['winner']:
        return 1
    else:
        return 0

In [70]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [71]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining_ball,Wickets,crr,rrr,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,207,119,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,1,207,118,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,1,207,117,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,3,205,116,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72408,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,152,1,4,5,7.862069,1.500000,0
72409,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,154,-1,3,5,7.897436,-2.000000,0
72410,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,1,155,-2,2,4,7.881356,-6.000000,0
72411,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,157,-4,1,4,7.915966,-24.000000,0
72412,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,1,157,-4,0,3,7.850000,-inf,0

In [72]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed', 'Score',
       'target_left', 'Remaining_ball', 'Wickets', 'crr', 'rrr', 'result'],
      dtype='object')

In [73]:
Model_df = delivery_df[['batting_team','bowling_team','city','Score','target_left', 'Remaining_ball', 'Wickets', 'crr', 'rrr', 'result']]

In [74]:
Model_df

,batting_team,bowling_team,city,Score,target_left,Remaining_ball,Wickets,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,207,119,10,6.000000,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,207,118,10,3.000000,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,207,117,10,2.000000,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,3,205,116,10,4.500000,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...
72408,Chennai Super Kings,Mumbai Indians,Hyderabad,152,1,4,5,7.862069,1.500000,0
72409,Chennai Super Kings,Mumbai Indians,Hyderabad,154,-1,3,5,7.897436,-2.000000,0
72410,Chennai Super Kings,Mumbai Indians,Hyderabad,155,-2,2,4,7.881356,-6.000000,0
72411,Chennai Super Kings,Mumbai Indians,Hyderabad,157,-4,1,4,7.915966,-24.000000,0
72412,Chennai Super Kings,Mumbai Indians,Hyderabad,157,-4,0,3,7.850000,-inf,0

In [75]:
Model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72413 entries, 0 to 72412
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   batting_team    72413 non-null  object
 1   bowling_team    72413 non-null  object
 2   city            71581 non-null  object
 3   Score           72413 non-null  int64
 4   target_left     72413 non-null  int64
 5   Remaining_ball  72413 non-null  int64
 6   Wickets         72413 non-null  int64
 7   crr             72413 non-null  float64
 8   rrr             72408 non-null  float64
 9   result          72413 non-null  int64
dtypes: float64(2), int64(5), object(3)
memory usage: 5.5+ MB

In [76]:
Model_df.isnull().sum()

batting_team        0
bowling_team        0
city              832
Score               0
target_left         0
Remaining_ball      0
Wickets             0
crr                 0
rrr                 5
result              0
dtype: int64

In [77]:
Model_df[Model_df['city'].isna()]

,batting_team,bowling_team,city,Score,target_left,Remaining_ball,Wickets,crr,rrr,result
42326,Royal Challengers Bangalore,Mumbai Indians,NaN,0,116,119,10,0.000000,5.848739,1
42327,Royal Challengers Bangalore,Mumbai Indians,NaN,4,112,118,10,12.000000,5.694915,1
42328,Royal Challengers Bangalore,Mumbai Indians,NaN,5,111,117,10,10.000000,5.692308,1
42329,Royal Challengers Bangalore,Mumbai Indians,NaN,7,109,116,10,10.500000,5.637931,1
42330,Royal Challengers Bangalore,Mumbai Indians,NaN,7,109,115,10,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
44162,Mumbai Indians,Sunrisers Hyderabad,NaN,154,19,4,3,7.965517,28.500000,0
44163,Mumbai Indians,Sunrisers Hyderabad,NaN,154,19,3,3,7.897436,38.000000,0
44164,Mumbai Indians,Sunrisers Hyderabad,NaN,155,18,2,3,7.881356,54.000000,0
44165,Mumbai Indians,Sunrisers Hyderabad,NaN,156,17,1,3,7.865546,102.000000,0
44166,Mumbai Indians,Sunrisers Hyderabad,NaN,157,16,0,3,7.850000,inf,0

In [78]:
Model_df.dropna(inplace=True)

C:\Users\lenono\AppData\Local\Temp\ipykernel_6792\2202708226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Model_df.dropna(inplace=True)

In [79]:
Model_df.isnull().sum()

batting_team      0
bowling_team      0
city              0
Score             0
target_left       0
Remaining_ball    0
Wickets           0
crr               0
rrr               0
result            0
dtype: int64

In [80]:
Model_df.describe()

C:\Users\lenono\anaconda3\Lib\site-packages\numpy\core\_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,Score,target_left,Remaining_ball,Wickets,crr,rrr,result
count,71576.000000,71576.000000,71576.000000,71576.000000,71576.000000,7.157600e+04,71576.000000
mean,73.384528,93.383313,62.673159,7.537904,7.449324,NaN,0.525246
std,46.931223,50.058881,33.398497,2.139570,2.277979,NaN,0.499366
min,0.000000,-15.000000,-2.000000,0.000000,0.000000,-inf,0.000000
25%,34.000000,54.000000,35.000000,6.000000,6.272727,7.272727e+00,0.000000
50%,70.000000,93.000000,63.000000,8.000000,7.500000,9.000000e+00,1.000000
75%,109.000000,131.000000,92.000000,9.000000,8.696629,1.106422e+01,1.000000
max,223.000000,250.000000,119.000000,10.000000,42.000000,inf,1.000000

In [81]:
Model_df = Model_df[Model_df['Remaining_ball'] != 0]

In [82]:
Model_df.describe()

,Score,target_left,Remaining_ball,Wickets,crr,rrr,result
count,71342.000000,71342.000000,71342.000000,71342.000000,71342.000000,71342.000000,71342.000000
mean,73.105898,93.621065,62.878725,7.553251,7.447791,10.568474,0.526646
std,46.734222,49.957572,33.259471,2.124334,2.280498,14.041845,0.499293
min,0.000000,-15.000000,-2.000000,0.000000,0.000000,-516.000000,0.000000
25%,34.000000,54.000000,35.000000,6.000000,6.265782,7.267606,0.000000
50%,70.000000,93.000000,64.000000,8.000000,7.500000,9.000000,1.000000
75%,108.000000,131.000000,92.000000,9.000000,8.696385,11.032258,1.000000
max,222.000000,250.000000,119.000000,10.000000,42.000000,684.000000,1.000000

In [83]:
Model_df = Model_df.sample(Model_df.shape[0])

In [84]:
Model_df.sample()

,batting_team,bowling_team,city,Score,target_left,Remaining_ball,Wickets,crr,rrr,result
66438,Kings XI Punjab,Mumbai Indians,Mohali,45,143,80,10,6.75,10.725,1

## Splitting the data into Features and Target

In [86]:
X = Model_df.iloc[:,:-1]
y = Model_df.iloc[:,-1]

In [87]:
X

,batting_team,bowling_team,city,Score,target_left,Remaining_ball,Wickets,crr,rrr
47361,Mumbai Indians,Kings XI Punjab,Chandigarh,127,30,32,8,8.659091,5.625000
34363,Mumbai Indians,Rajasthan Royals,Jaipur,49,114,80,10,7.350000,8.550000
53033,Mumbai Indians,Delhi Daredevils,Mumbai,80,73,44,6,6.315789,9.954545
12025,Rajasthan Royals,Deccan Chargers,Port Elizabeth,28,114,85,7,4.800000,8.047059
31781,Delhi Daredevils,Rajasthan Royals,Jaipur,47,95,91,9,9.724138,6.263736
...,...,...,...,...,...,...,...,...,...
1329,Delhi Daredevils,Sunrisers Hyderabad,Hyderabad,59,133,80,9,8.850000,9.975000
18387,Rajasthan Royals,Deccan Chargers,Ahmedabad,47,102,91,10,9.724138,6.725275
15635,Deccan Chargers,Royal Challengers Bangalore,Centurion,119,52,30,7,7.933333,10.400000
26127,Delhi Daredevils,Deccan Chargers,Hyderabad,61,115,70,7,7.320000,9.857143
20443,Rajasthan Royals,Kings XI Punjab,Jaipur,109,45,65,10,11.890909,4.153846

In [88]:
y

47361    1
34363    1
53033    1
12025    1
31781    1
        ..
1329     0
18387    1
15635    0
26127    1
20443    1
Name: result, Length: 71342, dtype: int64

## Splitting the data to Train and Test

In [90]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state =2)

In [91]:
X_train

,batting_team,bowling_team,city,Score,target_left,Remaining_ball,Wickets,crr,rrr
61710,Rajasthan Royals,Sunrisers Hyderabad,Jaipur,32,121,94,9,7.384615,7.723404
49187,Sunrisers Hyderabad,Chennai Super Kings,Chennai,95,115,46,7,7.702703,15.000000
26453,Rajasthan Royals,Chennai Super Kings,Jaipur,16,181,110,10,9.600000,9.872727
53425,Kolkata Knight Riders,Kings XI Punjab,Kolkata,42,142,93,9,9.333333,9.161290
30878,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,129,61,13,4,7.233645,28.153846
...,...,...,...,...,...,...,...,...,...
3988,Rajasthan Royals,Kings XI Punjab,Jaipur,147,20,27,6,9.483871,4.444444
54729,Chennai Super Kings,Mumbai Indians,Mumbai,118,70,32,5,8.045455,13.125000
52334,Chennai Super Kings,Sunrisers Hyderabad,Hyderabad,0,193,118,10,0.000000,9.813559
35664,Delhi Daredevils,Mumbai Indians,Mumbai,10,200,107,9,4.615385,11.214953
17609,Royal Challengers Bangalore,Mumbai Indians,Mumbai,130,22,25,8,8.210526,5.280000

In [92]:
X_test

,batting_team,bowling_team,city,Score,target_left,Remaining_ball,Wickets,crr,rrr
43120,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah,141,10,7,6,7.486726,8.571429
45348,Rajasthan Royals,Sunrisers Hyderabad,Ahmedabad,102,33,4,1,5.275862,49.500000
70807,Royal Challengers Bangalore,Delhi Capitals,Delhi,56,138,91,10,11.586207,9.098901
71406,Kolkata Knight Riders,Kings XI Punjab,Mohali,20,167,101,10,6.315789,9.920792
11324,Royal Challengers Bangalore,Kolkata Knight Riders,Durban,76,64,47,9,6.246575,8.170213
...,...,...,...,...,...,...,...,...,...
69886,Sunrisers Hyderabad,Kolkata Knight Riders,Hyderabad,77,88,83,10,12.486486,6.361446
54000,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,146,40,13,4,8.186916,18.461538
33107,Chennai Super Kings,Delhi Daredevils,Chennai,75,40,60,10,7.500000,4.000000
38201,Royal Challengers Bangalore,Mumbai Indians,Mumbai,98,97,27,3,6.322581,21.555556
69035,Mumbai Indians,Royal Challengers Bangalore,Mumbai,56,124,90,10,11.200000,8.266667

In [93]:
y_train

61710    0
49187    0
26453    0
53425    1
30878    0
        ..
3988     1
54729    0
52334    0
35664    0
17609    1
Name: result, Length: 57073, dtype: int64

In [94]:
y_test

43120    0
45348    0
70807    0
71406    1
11324    1
        ..
69886    1
54000    0
33107    1
38201    0
69035    1
Name: result, Length: 14269, dtype: int64

In [95]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [96]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])],remainder = 'passthrough')

In [97]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['batting_team', 'bowling_team', 'city'])])

In [98]:
from sklearn.pipeline import Pipeline

In [99]:
pipe = Pipeline(steps= [
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [100]:
pipe

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [101]:
pipe.fit(X_train,y_train)

C:\Users\lenono\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [102]:
Y_pred = pipe.predict(X_test)

In [103]:
Y_pred

array([1, 0, 0, ..., 1, 0, 1], dtype=int64)

In [104]:
print('Accuracy:',accuracy_score(y_test,Y_pred))

Accuracy: 0.8018781974910646

## Exporting the model

In [106]:
import pickle as pkl

In [107]:
pkl.dump(pipe,open('model.pkl','wb'))

In [108]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [109]:
pkl.dump(teams,open('teams.pkl','wb'))

In [110]:
cities = list(Model_df['city'].unique())

In [111]:
cities

['Chandigarh',
 'Jaipur',
 'Mumbai',
 'Port Elizabeth',
 'Ahmedabad',
 'Indore',
 'Durban',
 'Bangalore',
 'Abu Dhabi',
 'Delhi',
 'Kolkata',
 'Bengaluru',
 'Hyderabad',
 'Bloemfontein',
 'Chennai',
 'Cape Town',
 'Sharjah',
 'Mohali',
 'Ranchi',
 'Pune',
 'Kimberley',
 'Visakhapatnam',
 'Centurion',
 'Johannesburg',
 'Dharamsala',
 'Cuttack',
 'Raipur',
 'East London',
 'Nagpur']

In [112]:
pkl.dump(cities,open('cities.pkl','wb'))

In [113]:
Model_df.columns

Index(['batting_team', 'bowling_team', 'city', 'Score', 'target_left',
       'Remaining_ball', 'Wickets', 'crr', 'rrr', 'result'],
      dtype='object')